<div class="container homepage-icons">
	<div class="row row-center">
		<div class="col-lg-1 col-md-1 col-sm-0 col col-xs-0"/>
		<div class="col-lg-3 col-md-3 col-sm-4 col col-xs-6">
			<a href="#/tour">			
				<img class="icon img-responsive hvr-grow-rotate" src="../images/icons/tourIcon.png" alt="Take the tour"/>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col col-xs-6">
			<a href="#/churches">
				<img class="icon img-responsive hvr-grow-rotate" src="../images/icons/churchIcon.png" alt="Explore the Churches"/>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col col-xs-6">
			<a href="#/people">		
				<img class="icon img-responsive hvr-grow-rotate" src="../images/icons/peopleIcon.png" alt="People of interest"/>
			</a>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-0 col col-xs-0"/>
		<div class="col-lg-3 col-md-3 col-sm-2 col col-xs-6"/>
		<div class="col-lg-3 col-md-3 col-sm-4 col col-xs-6">
			<a href="#/views">			
				<img class="icon img-responsive hvr-grow-rotate" src="../images/icons/viewsIcon.png" alt="See different views"/>
			</a>
		</div>	
		<div class="col-lg-3 col-md-3 col-sm-4 col col-xs-6">
			<a href="#/altar">			
				<img class="icon img-responsive hvr-grow-rotate" src="../images/icons/altarpieceIcon.png" alt="Study the altarpiece"/>
			</a>
		</div>
	</div>
</div>
