<div>
	<h1 class="title">Websites</h1>
</div>
<div class="content">
	<div class="container thin-box">
		</br><img id="websites-icon" class="img-responsive" src="../images/browserImage.svg"/>
		<h3>What I've been up to.</h3>
		<p>Here's a selection of some recent work related to webpages and HTML based projects. More work can be viewed in the <a ng-href="#/films">films</a> section of this portfolio site</p>	
	</div></br></br>
	<div class="website-entry" id="websites-smokestack">
		<div class="container">
			<img id="img-virtual" class="img-responsive drop-shadow" style="border-radius:20px;" src="../images/smokestackImage.png"/>
			<h2>Smokestack Picture House</h2><br>
			<p class="thick-box">A filmography company website in which I signle handedly designed and developed the entire process. Placeholder text/images/videos are 
								used until I recieve their material and a purchased domain.
								It inherits a mobile-responsive design with contrasting structured pages. The home page contains their showreel which I used 
								html canvas to allow it to be played in the background on phones/ios.</p>
			<a href="http://users.sussex.ac.uk/~sd354/joe" target="_blank" class="btn btn-websites">Brainwash your mind</a>	
		</div>	
	</div>	
	<div class="website-entry" id="websites-1">
		<div class="container">
			<img id="img-virtual" class="img-responsive drop-shadow" style="border-radius:20px;" src="../images/AugmindImage.png"/>
			<h2>Augmind Hive</h2><br>
			<p class="thick-box">As an exploration in product design and architecture I have been working on an idea for a restaurant reservation system. Thoroughly challenging thinking through the product design but ultimately rewarding.</p>
			<a href="http://users.sussex.ac.uk/~sd354/joe" target="_blank" class="btn btn-websites">Brainwash your mind</a>	
		</div>	
	</div>	
	<div class="website-entry" id="websites-2">
		<div class="container">
			<img id="img-virtual" class="img-responsive drop-shadow" style="border-radius:5px;" src="../images/virtualMuseumImage.png"/>
			<h2>Virtual Museum</h2><br>
			<p class="thick-box">As an exploration in product design and architecture I have been working on an idea for a restaurant reservation system. Thoroughly challenging thinking through the product design but ultimately rewarding.</p>
			<a href="http://users.sussex.ac.uk/~sd354/virtual_museum/" class="btn btn-websites" target="_blank">Visit Museum</a>
		</div>	
	</div>	
	<div class="website-entry" id="websites-4">
		<div class="container">
			<img id="img-virtual" class="img-responsive drop-shadow" style="border-radius:5px;" src="../images/santaChiaraDisplays.png"/>
			<h2>Church of Santa Chiara</h2><br>
			<p class="thick-box">As an exploration in product design and architecture I have been working on an idea for a restaurant reservation system. Thoroughly challenging thinking through the product design but ultimately rewarding.</p>
			<a href="http://users.sussex.ac.uk/~sd354/santa_chiara/" class="btn btn-websites" target="_blank">Explore the Santa Chiara</a>	
		</div>	
	</div>		
	<div class="website-entry" id="websites-3">
		<div class="container">
			<img id="img-snake" class="img-responsive drop-shadow" style="border-radius:5px;" src="../images/snakeImage.png"/>
			<h2>HTML Canvas Snake Game</h2><br>
			<p class="thick-box">As an exploration in product design and architecture I have been working on an idea for a restaurant reservation system. Thoroughly challenging thinking through the product design but ultimately rewarding.</p>
			<a href="http://users.sussex.ac.uk/~sd354/snake/" class="btn btn-websites" target="_blank">Play Snake</a>	
		</div>	
	</div>
</div>