@font-face{
	font-family:TheSansExtraLight;
	src:url('thesansextralight.ttf');
}
@font-face{
	font-family:title;
	src:url('handwrittenfont.ttf');
}
body {
    width: 100%;
    height: 100%;
  	font-family:TheSansExtraLight,helvetica,arial,freesans,sans-serif;font-size:17px;
    color: rgba(64, 64, 64, 0.9);
    background-color: rgba(197, 222, 215, .6);
	overflow-x:hidden;
}


html {
    width: 100%;
    height: 100%;
}
.aboutArt{
	position:fixed;
	width:50%;
	background-color:red;
	padding-top:200px;
	height:100vh;
	margin-right:0;
}
  #image-scroll {
	left:50%;
	width:50%;
	position:relative;
	margin-left:0;

  }
h1,h2,h3{
    margin: 0 0 35px;
  	font-family:TheSansExtraLight,helvetica,arial,freesans,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
	color:rgb(74, 177, 118);
	text-align:center;
}
h1{
	font-size:80px;
}
h2 {
	font-size:55px;
	margin-bottom:50px;
	color:#3f7b58;
}
h3{
	font-size:30px;
	color:rgba(73, 177, 155);
}
.img-circle {
    border-radius: 100%;
	width:40%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 50px;
}
p {
    margin: 0 0 25px;
    font-size: 19px;
    line-height: 1.5;
    color: rgba(64, 64, 64, 0.9);
	font-family:arial;
    font-weight: 100;	
}
.description{
	line-height: 1;
  	font-family:TheSansExtraLight,helvetica,arial,freesans,sans-serif;font-size:17px;
}
.thin-box{
	max-width:400px;
margin: auto;
    top: 0;
    left: 0;
    right: 0;
	text-align:center;
}
.thick-box{
	max-width:600px;
margin: auto;
    top: 0;
    left: 0;
    right: 0;
	text-align:center;
	padding-bottom:20px;
}
@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 19px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.intro {
	margin-bottom:20%;
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
	color:rgba(73, 177, 155, 0.85);
    background-color: transparent;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content {
	padding-top:50px;
	
    background-color:#fff;
}

.download-section {
    width: 100%;
    padding: 50px 0;
	height:100vh;
	padding-top:50vh;
	margin-top:0;
	color:rgba(0, 179, 60, 0.95);
    background-color: #fff;
}
#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 0;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
.title{
	text-align:center;
	font-family:title;
	font-size:100px;
	color:rgba(74, 177, 118, .9);
}
.page{
	margin-top:10%;
}
.intro-text{
	color:rgba(74, 177, 118, .9);
  	font-family:TheSansExtraLight,helvetica,arial,freesans,sans-serif;font-size:20px;	
	}
#websites-icon{
	width:30%;
margin: auto;
    top: 0;
    left: 0;
    right: 0;
	margin-bottom:20px;	
	margin-top:0;
}
.website-entry{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}
.website-entry h2, .website-entry p{
	color:#fff;
	margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
#websites-2{
	background-color:#742c2d;
}
#websites-3{
	background-color:#7bb0ff;
}
#websites-4{
	background-color:#9f9c93;
}
#websites-1{
	background-color:#e6b800;
	color:black;
}
.drop-shadow{
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}
#img-virtual{
	max-width:60%;
	margin: auto;
	margin-bottom:30px;
}
#img-snake{
	max-width:60%;
	margin: auto;
	margin-bottom:30px;
}










@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}





@media(max-width:767px) {
.navbar-custom a {
	padding-left:20px;
	padding-top:25px;	
}	
}






.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 128, 43, .3);
    background-color: #e0ebe8;
  	font-family:TheSansExtraLight,helvetica,arial,freesans,sans-serif;font-size:20px;
	
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

/*CHANGE NAV FONT*/
.navbar-custom a {
	color:rgb(74, 177, 118);
	letter-spacing: 1px;
	padding-left:15px;
	padding-right:0px;
	
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(0,0,0,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(224, 235, 232,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 2px solid rgba(179, 179, 179,.3);
        background: #fff;
    }
}





#filmsContainer{
	width:100%;
	height:100vh;
}
#videoPlayer {
	display: table;
	position:relative;
	height:0;
	width:100%;
	overflow:hidden;
	background: #000;
}
#videoPlayer iframe {
	position:absolute;
	top:0;
	left:0;
	width:75%;
	height:100%;
}
#videoPlayer iframe,
	#videoPlayer figcaption {
		display: table-cell;
		vertical-align: top;
}
#videoPlayer figcaption {
	width: 25%;
}
#videoPlayer figcaption a {
	display: block;
	opacity: .5;
	transition: 1s opacity;
}
#videoPlayer figcaption a img,
	figure video {
		width: 100%;
		height: auto;
}
#videoPlayer figcaption a:hover {
	opacity: 1;
}
.videoPlayer{
	width:100%;
	height:100vh;
}
